<%- include("header") -%>
<form class="" action="register" method="post">
   <button type="submit" name="button">register</button>
</form>
<form class="" action="login" method="post">
   <button type="submit" name="button">Login</button>
</form>
<form class="" action="renterAdd" method="post">
   <button type="submit" name="button">addRenter</button>
</form>
<%- include("footer") -%>
