<%- include("header") -%>
<h1><%= mssg %></h1>
 <form class="" action="forgotPass" method="post">
     Email : <input type="email" name="email" value="">
     <button type="submit" name="button">Get OTP</button>
 </form>
<%- include("footer") -%>
