<%- include("header") -%>
<h1><%= mssg %></h1>
  <form class="" action="otpRenter" method="post">
    Enter OTP :- <input type="number" name="otp" value="">
    <button type="submit" name="button">Verify</button>
  </form>
  <form class="" action="forgotPass" method="post">
    <button type="submit" name="button">Resend OTP</button>
  </form>
<%- include("footer") -%>
